{{#if messages.success  }}  
    <div class="alert alert-success text-center" role="alert">{{messages.success}}</div>
{{/if}}
{{#if messages.error  }}  
    <div class="alert alert-warning text-center" role="alert">{{messages.error}}</div>
{{/if}}