
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="dashboard-home">Trang chủ</a>
        </li>
        {{#if user}}
        <li class="nav-item end">
          <a class="nav-link" href="#">Hồ Sơ {{username}}<i class="fa-regular fa-user"></i></a>
        </li>
         <li class="nav-item ">
          <a class="nav-link" href="logout">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="login">Đăng Nhập</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>